body {
    width: 100%;
    height: 100%;
    color: #666;
    line-height: 1.4;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	}
li {
	list-style:none;
	}
.li{
	list-style: disc;
	}
/*----------------
Layout / Helper
------------------*/
.is-hidden {
  display: none;
}

.clearfix{
	clear:both;}
fieldset{
	border:none;
	margin:0;
	padding:0;
	}
	
.is-boxShadow {
	-webkit-box-shadow:rgba(113, 135, 164, 0.65098) 1px 1px 1px 1px;
	-moz-box-shadow:rgba(113, 135, 164, 0.65098) 1px 1px 1px 1px;
	box-shadow:rgba(113, 135, 164, 0.65098) 1px 1px 1px 1px;
}
.mb0{
	margin-bottom:0;
	}
.mb1em{
	margin-bottom:1em;
	}
.mb2em{
	margin-bottom:2em;
	}
.float-none{
	overflow: hidden; /*floatの解除、ここがポイント*/
    position: relative;
}

.pull-right {
  float: right;
}

form .mt-minus-label{
	margin-top:-1.8em;
	}
	
form .mt-minus-label2{
	margin-top:-5.1em;
	}
	
.pos-rel{
	position:relative;}
	
.div-center, .div-center p, .div-center li{
	margin:0 auto;
	display:block;
	text-align:center;
}

.div-center button{
	margin:0 auto;
}
.mb5{
	margin-bottom:5px;
	}

.mb9{
	margin-bottom:9px;
	}
.ml-btns{
	margin-left:74px;
}
.ml-pref-cell{
	margin-left:77px;
}
.is-text-centering{
	text-align:center;
	}
.l-dt{
	width:140px;
	color: #006993;
	}
.l-w220px{
	width:220px;
	}
.l-remarks{
	width:300px;}
.div-center .l-btns{
	margin-right:1em;
	}
.l-float-left {
  float: left;
}
/*----------------
End Layout / Helper
------------------*/

div,textarea,input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 
.entry-form-container {
  max-width: 542px;
  min-width: 324px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  position:relative;
}

.row {
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0 2.5em;
}
.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(../img/background01.jpg);
  color: #fff;
  margin-bottom:1.3em;
}
.row .body {
  padding: .5em 2.5em 1em;
}
.complete-massage-inner{
	margin:6em 3em;
	text-align:center;
	}
.confirm-message-inner{
	padding:0 2.5em 1em 2.5em;
	}
/*----------------
Headings
------------------*/
h1 {
  display: inline-block;
  font-size: 2.8125em;
  font-weight: 400;
  border-bottom: 1px solid rgb(255, 255, 255); /* ie Fallback */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

h2 {
  font-weight: 400;
  font-size: 1em;
  margin: 1em 0 0 0;
  line-height:1.5;
}

h3, h4 {
	font-size:1.3em;
	font-weight:normal;
    color:#666666;
	margin:0;
	}

legend, i{
	margin: 0 0 0.5em 0;
    color: #006993;
	font-weight:normal;
	}
b{	
	font-size: 1.3em;
	line-height: 1.8;
	font-weight:normal;
	}
dt{
	margin-bottom:.33em;}
dd{
	margin-bottom:1em;}
/*----------------
Button
------------------*/
.btn {
  display: inline-block;
  padding: 0.3em 1.5em 0.25em 1.5em;
  margin: 1rem 0 0;
  color: #fff;
  background-color: #b3b3b3;
  font-weight: 300;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius:30px;
	
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn-submit {
  background-color: #F9680E;
  font-size:1.7em;
  font-weight:bold;
}
.btn-submit:hover {
  background-color: #FF8A42;
}
.btn-back {
  font-size:1.7em;
}
/*----------------
form
------------------*/

form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}

form ul li:last-child, form ul .margin-0 {
  margin: 0;
}
form ul li p,
form ul li div {
  margin: 0;
  padding: 0;
  float: left;
}

.divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #00a7ea, #4f6fad);
}

.divider2 {
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #00a7ea, #4f6fad);
}

form ul li .req {
  color: #ee9cb4;
}

form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #006993;
}

form .mt-label{
	margin-top:0.8em;
	color:#666;
	width:80px;
	}

form input, form button {
  margin: 0 0 0.5em 0;
  padding: 6px 10px;
  color: #222;
  width:220px;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  resize: vertical;
    overflow: auto;
	color: #222;
}
form textarea.nodes {color: inherit;}/*通常の装飾;*/
form small {
  color: #ff6666;
  margin: 0 0 0 1em;
}
form .privacy-policy{
  margin: 0 0 0 1.5em;
}
.color-default {
  color: inherit;
  margin: 0 0 0 1em;
}

form .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form select {
  background-image: none;
  display: inline-block;
  height: 32px;
  line-height: 1.42857;
  padding: 0 10px 0 5px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 220px;
  margin: 0 0 0.5em 0;
  color:#222;
}

.ml-pref-valid{
	position:absolute;
	right:76px;
	top:35px;
}
.ml-time-valid{
	position:absolute;
	right:76px;
	top:60px;
}
	
form input[type="radio"],form input[type="checkbox"] {
  line-height:normal;
  vertical-align:middle;
}
form input .radio,form input.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
form input .radio label,form input .checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
form input .radio input[type="radio"],form input .radio-inline input[type="radio"], form input .checkbox input[type="checkbox"],form input .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  top:4px;
}

form .radio-inline,form .checkbox-inline {
  display: inline-block;
  padding:0 10px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: bottom;
  cursor: pointer;
}

form .radio-inline{
	width:1rem;
	float:left;
	 margin-top: 1px;
	}

.callout, form .callout, i callout{
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size:0.8em;
  margin: 0 0 0 4px;
  padding: .1em .2em 0 .2em;
}

.callout-must {
    color: #ff6666;
    border-radius: 2px;
    border: 1px solid #ff6666;
	float:right;
}
p .callout-must-left {
    color: #ff6666;
    border-radius: 2px;
    border: 1px solid #ff6666;
	float:left;
	margin-right:5px;
}

.large-checkbox {
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  margin-right:5px;
}

/*---------------------------------------------*\
    GentleForm related styles
\*---------------------------------------------*/
.form-addon {
  position: relative;
  display: table;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 2px;
}
.form-addon .form-input,
.form-addon .form-addon__addon {
  display: table-cell;
  vertical-align: middle;
}
.form-addon .form-input {
  width: 100%;
}
.form-addon .form-addon__addon {
  position: relative;
  width: 40px;
  text-align: center;
}
.form-addon .form-addon__addon:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  height: calc(100% - 8px);
  border-right: 1px solid #bcdae5;
}

.form-addon .form-addon__icon {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
	  -moz-transform: translateY(0);
	  -o-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  -webkit-transition: -webkit-transform 150ms ease, opacity 150ms ease;
  -moz-transition: -webkit-transform 150ms ease, opacity 150ms ease;
  -o-transition: -webkit-transform 150ms ease, opacity 150ms ease;
          transition: transform 150ms ease, opacity 150ms ease;
}
.form-addon.is-valid [class*="icon-valid"], 
.form-addon.is-invalid [class*="icon-invalid"] {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}
.form-addon.is-invalid {
  background-color: #fef4f7;
  border-color: #f989ab;
}
.form-addon.is-invalid .form-addon__icon {
  color: #f42866;
}
.form-addon.is-invalid .form-addon__addon:before {
  border-color: #f989ab;
}

.toaster {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  padding: 20px;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -ms-transform: translateY(-10px) rotateY(40deg);
  -webkit-transform: translateY(-10px) rotateY(40deg);
  -moz-transform:translateY(-10px) rotateY(40deg);
  -o-transform: translateY(-10px) rotateY(40deg);
          transform: translateY(-10px) rotateY(40deg);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
   -o-transition: all 300ms ease;
          transition: all 300ms ease;
}
.toaster--show {
  -webkit-transform: translateY(0) rotateY(0);
  -moz-transform: translateY(0) rotateY(0);
  -o-transform: translateY(0) rotateY(0);
  -ms-transform: translateY(0) rotateY(0);
          transform: translateY(0) rotateY(0);
  opacity: 1;
}

.toaster--success {
  background-color: #31d47d;
}

.toaster--error {
  background-color: #ff6666;
  line-height:1.6;
}
/*leanModal*/
#lean_overlay{
  position: fixed; z-index:100; 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
#privacy-policy{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  width: 780px;
 }
.privacy-policy-inner{
	padding: 30px;
	}
.modal_close { position: absolute; 
               top: 12px; 
               right: 12px; 
               display: block; 
               width: 16px; 
               height: 16px; 
               background: url(../img/close.png); 
               z-index: 2;}