body {
    width: 100%;
    height: 100%;
    color: #666;
    line-height: 1.4;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3",メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	}
.clearfix{
	clear:both;}
#entry-form fieldset{
	border:none;
	margin:0;
	padding:0;
	}
	
#entry-form .is-boxShadow {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

#entry-form .mb1em{
	margin-bottom:1em;
	}

#entry-form ul.l-height62{
	height:62px;}

#entry-form .float-none{
	overflow: hidden; /*floatの解除、ここがポイント*/
    position: relative;
}

#entry-form div,#entry-form  textarea,#entry-form  input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 
.entry-form-container {
  max-width: 542px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  position:relative;
}

#entry-form .row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
#entry-form .row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(../img/Perfect_iOS_7_Style_Blur_Background.jpg);
  color: #fff;
}
#entry-form .row.body {
  padding: .5em 2.5em 1em;
}

#entry-form .pull-right {
  float: right;
}

#entry-form h1 {
  display: inline-block;
  font-size: 2.8125em;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

#entry-form h3 {
  font-weight: 400;
  font-size: 1em;
  margin: 1em 0 0 0;
}

#entry-form h4 {
	font-size:1.3em;
	font-weight:normal;
/*    border-left: 3px #00a7ea solid;
    padding:0 0.5em;*/
    color:#666666;
	margin:0;
	}
	
#entry-form legend {
	margin: 0 0 0.5em 0;
    color: #006993;
    font-size: 1em;
	font-weight:normal;
	width:46%;
	}

#entry-form form .mt-minus-label{
	margin-top:-1.8em;
	}
#entry-form form .mt-minus-label2{
	margin-top:-5.1em;
	}

#entry-form .btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.35em 1.5em 0.25em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  background-color: #b3b3b3;
  font-weight: 300;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius:20px;
	
}
#entry-form .btn:hover {
  background-color: #bfbfbf;
}
#entry-form .btn.btn-submit {
  background-color: #ff6c00;
  font-size:1.5em;
}
#entry-form .btn.btn-submit:hover {
  background-color: #ff8932;
}

#entry-form form {
  max-width: 100%;
  display: block;
}
#entry-form form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#entry-form form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}

#entry-form form ul li:last-child, #entry-form form ul .margin-0 {
  margin: 0;
}
#entry-form form ul li p,
#entry-form form ul li div {
  margin: 0;
  padding: 0;
  float: left;
  
}

#entry-form form ul li .grid-220{
	width:220px;
	}

#entry-form form ul li p.right {
  float: right;
}

#entry-form form ul li p.float-left {
  float: left;
  margin-left:2em;
}

#entry-form form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #00a7ea, #4f6fad);
}

#entry-form form ul li .divider2 {
  margin: 0 0 1em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #00a7ea, #4f6fad);
}

#entry-form form ul li .req {
  color: #ee9cb4;
}

#entry-form form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #006993;
  font-size: 1em;
}

#entry-form form .mt-label{
	margin-top:0.8em;
	color:#555;
	width:80px;
	}

#entry-form form input {
  margin: 0 0 0.5em 0;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
  width:220px;
}
#entry-form form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
  resize: vertical;  
    overflow: auto;
}
#entry-form form small {
  color: #ff6666;
  margin: 0 0 0 1em;
}

#entry-form form .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#entry-form form select {
  background-image: none;
  display: inline-block;
  height: 32px;
  line-height: 1.42857;
  padding: 0 10px 0 5px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 220px;
  margin: 0 0 0.5em 0;
}

#entry-form .div-center{
	display:block;
	text-align:center;
}

#entry-form .div-center button{
	margin:0 auto;
}
#entry-form .mb5{
	margin-bottom:5px;}

#entry-form .mb9{
	margin-bottom:9px;}
	
#entry-form .ml-pref-cell{
	margin-left:77px;

}
#entry-form .ml-pref-valid{
	position:absolute;
	right:76px;
	top:35px;
}
#entry-form .ml-time-valid{
	position:absolute;
	right:76px;
	top:60px;
}
.pos-rel{
	position:relative;}
	
#entry-form form input[type="radio"],#entry-form form input[type="checkbox"] {
  margin-top: 1px \9;
  line-height:normal;
  vertical-align:middle;
}
#entry-form form input .radio,#entry-form form input.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#entry-form form input .radio label,#entry-form form input .checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
#entry-form form input .radio input[type="radio"],#entry-form form input .radio-inline input[type="radio"], #entry-form form input .checkbox input[type="checkbox"],#entry-form form input .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
  top:4px;
}

#entry-form form .radio-inline,#entry-form form .checkbox-inline {
  display: inline-block;
  padding:0 10px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: bottom;
  cursor: pointer;
}

#entry-form form .radio-inline{
	width:1rem;
	display:inline;
	float:left;
	 top:6px;
	 margin-top: 1px;
	}

.callout, #entry-form form .callout {
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-size:10px;
  padding:1px;
}

.callout-must, #entry-form form .callout-must {
    color: #ff6666;
    border-radius: 2px;
    border: 1px solid #ff6666;
    margin: 0 0 0 4px;
    padding: 0 2px;
    font-size: 10px;
	float:right;
}
/*---------------------------------------------*\
    GentleForm related styles
\*---------------------------------------------*/
.form-addon {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 2px;
}
.form-addon .form-input,
.form-addon .form-addon__addon {
  display: table-cell;
  vertical-align: middle;
}
.form-addon .form-input {
  width: 100%;
}
.form-addon .form-addon__addon {
  position: relative;
  width: 40px;
  text-align: center;
}
.form-addon .form-addon__addon:before {
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
  height: calc(100% - 8px);
  border-right: 1px solid #bcdae5;
}

.is-hidden {
  display: none;
}

.form-addon .form-addon__icon {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
  -webkit-transition: -webkit-transform 150ms ease, opacity 150ms ease;
          transition: transform 150ms ease, opacity 150ms ease;
}
.form-addon.is-valid [class*="icon-valid"], .form-addon.is-invalid [class*="icon-invalid"] {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}
.form-addon.is-invalid {
  background-color: #fef4f7;
  border-color: #f989ab;
}
.form-addon.is-invalid .form-addon__icon {
  color: #f42866;
}
.form-addon.is-invalid .form-addon__addon:before {
  border-color: #f989ab;
}

#entry-form .toaster {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  padding: 20px;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateY(-10px) rotateY(40deg);
          transform: translateY(-10px) rotateY(40deg);
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
#entry-form .toaster.toaster--show {
  -webkit-transform: translateY(0) rotateY(0);
          transform: translateY(0) rotateY(0);
  opacity: 1;
}

#entry-form .toaster--success {
  background-color: #31d47d;
}

#entry-form .toaster--error {
  background-color: #ff6666;
}



@media only screen and (max-width: 768px) {
#entry-form .pull-right {
    float: none;
  }

#entry-form input {
    width: 100%;
  }

#entry-form label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

#entry-form li, p {
    width: 100%;
  }

#entry-form input.btn {
    margin: 1.5em 0 0.5em;
  }

#entry-form h1 {
    font-size: 2.25em;
  }

#entry-form h3 {
    font-size: 1.125em;
  }

#entry-form li small {
    display: none;
  }
#entry-form form .mt-label {
	display:inline-block;
	margin-left:0;
	float:left;
	}
#entry-form form select{
	padding:0 5px;
	width: 220px;
	}
}
